# Environnement
.env
application-local.properties
application-dev.properties

# Compilation
target/
*.class

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# Logs
*.log
logs/

# Système
.DS_Store
Thumbs.db

# Données
data/